AssemblyInfo.cs
Makefile
Makefile.in
aclocal.m4
autom4te.cache
bootstrap.status
config.*
configure
configure.in
depcomp
install-sh
libtool
ltmain.sh
missing
policy.config
stamp-h1
.deps
*.dll
*.dll.config
*.pc
*.tar.gz
*-schemagen

